$col-normal: black;
$col-white: white;
$col-gray: hsl(0, 0%, 95%);
$col-gray2: hsl(0, 0%, 80%);
$col-gray6: hsl(0, 0%, 40%);
$col-primary: hsl(44, 100%, 50%);
$col-secondary: hsl(297, 78%, 75%);
$col-accent: hsl(341, 78%, 65%);