$col-bg-2: hsl(0, 0%, 95%);
$col-normal: black;
$col-bg: white;
$col-primary: hsl(44, 100%, 50%);
$col-primary30: hsl(44, 100%, 50%, 0.3);
$col-secondary: hsl(297, 78%, 75%);
$col-secondary30: hsla(297, 78%, 75%, 0.3);
$col-accent: hsl(341, 78%, 65%);
$col-accent30: hsla(341, 78%, 65%, 0.3);